@model web.Models.STUDENT_EXPERIENCE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa</h3>
<div>
    <h4>Thông tin kinh nghiệm làm việc</h4>
    <hr />
    <dl class="dl-horizontal col-lg-offset-3">
     

        <dt>
            Tên công ty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANY_NAME)
        </dd>

        <dt>
           Chức vụ 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            Từ :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FROM_MONTH)
            /
            @Html.DisplayFor(model => model.FROM_YEAR)

        </dd>

        <dt>
            Đến
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TO_MONTH)
             / 
            @Html.DisplayFor(model => model.TO_YEAR)

        </dd>
        <dt>
            Mô tả công việc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION_JOB)
        </dd>

        <dt>
            Lương :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back", "Userpage","Home")
        </div>
    }
</div>
